*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* HEADER */
header{
    background-color: rgb(40, 39, 39);
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    flex-wrap: wrap;
}

.logo{
    font-size: 3em;
}

.navigasi-menu{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}

.navigasi-menu ul{
    list-style: none;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}

.navigasi-menu ul li a{
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
}

.navigasi-menu .menu1 li a{
    color: #fff;
}

.navigasi-menu .menu2 li a{
    background-color: #fff;
    color: rgb(40, 39, 39);
}

.hamburgermenu{
    display: none;
    font-size: 2em;
    cursor: pointer;
}

/* TITLE */
.title{
    text-align: center;
    margin: 30px 0;
    font-size: 2.5em;
}

/* MEDIA QUERIES */

/* Smartphone */
@media only screen and (max-width: 600px){
    .hamburgermenu{
        display: block;
        margin-top:20px;
    }
    .logo {
        font-size: 2em;
    }
    .navigasi-menu{
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(40, 39, 39);
        margin-top: 10px;
    }
    .title{
        font-size: 1.8em;
    }

    .navigasi-menu.active{
        display: flex; /* tampilkan menu saat aktif */
    }
}

/* Tablet */
@media only screen and (max-width: 900px){
    .logo {
        font-size: 2.5em;
    }
    .title{
        font-size: 2em;
    }
    .navigasi-menu{
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(40, 39, 39);
        margin-top: 10px;
    }
    .navigasi-menu.active{
        display: flex;
    }
}

/* Laptop / Desktop */
@media only screen and (max-width: 1200px){
    .logo {
        font-size: 2.8em;
    }
    .title{
        font-size: 2.2em;
    }
}

/* Smart TV / Large Screen */
@media only screen and (min-width: 1600px){
    .logo {
        font-size: 4em;
    }
    .title{
        font-size: 3em;
    }
}




