<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="/css/notes.css">
</head>
<body>
        <header>
        <span class="logo">logo</span>
        <nav class="navigasi-menu">
            <ul class="menu1">
                <li><a href="/index.html">home</a></li>
                <li><a href="notes.html">notes</a></li>
                <li><a href="#">about</a></li>
            </ul>
            <ul class="menu2">
                <li><a href="template/login.html" target="_blank" class="btn-sign-in">sign in</a></li>
                <li><a href="template/registrasi.html" target="_blank" class="btn-sign-up">sign up</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="title">nodes</h1>
        <section class="container-card">
            <div class="card">
                <h1>judul</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, accusamus fugit facere beatae quas labore nihil! Dolorum quae doloremque odit voluptates recusandae. Doloribus perspiciatis suscipit cumque iure, impedit ad necessitatibus?</p>
            </div>
            <div class="card">
                <h1>judul</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, harum obcaecati nam ex beatae quae porro sint numquam vitae, dicta sapiente, molestias nostrum fuga accusantium? Ipsam deleniti distinctio dicta sed?</p>
            </div>
            <div class="card">
                <h1>judul</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi natus inventore aliquid eos ratione quae, beatae dignissimos rerum, atque dolor vero architecto non exercitationem eius autem et earum. Perspiciatis, totam?</p>
            </div>
            <div class="card">
                <h1>judul</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolores officiis velit dolorum cum maxime neque. Saepe, aut modi, fugit quasi facere ipsam veniam minima voluptates reiciendis impedit totam quos!</p>
            </div>
        </section>
    </main>
</body>
</html>